@tailwind base;

@tailwind components;

@tailwind utilities;

#navSearchIcon {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#navSearchBorder {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.w-picture-card {
  width: 17rem;
}

.h-picture-card {
  height: 19.4rem;
}

.link-image {
  transition: 0.1s ease;
}

.link-image:hover {
  transform: translate(0rem, -0.2rem);
}

.max-w-7xl {
  max-width: 80rem;
}

#addTagsButton:active {
  /* Tailwind default bg-gray-500 */
  background-color: #a0aec0;
}

#addTagsInputContainer {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.disabled-link {
  opacity: 50%;
  pointer-events: none;
}

.w-under-1-3 {
  width: 32.8%;
}

.w-under-1-4 {
  width: 24%;
}

.pb-1-3 {
  padding-bottom: 22%;
}

.flex-grow-3 {
  flex-grow: 2.3;
}

.next-picture:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.16);
}

@media (min-width: 768px) {
  #gallery-sidebar {
    padding-top: 10vh;
  }
}

.selected-picture {
  box-shadow: 0 0 0 2px rgba(0, 204, 0, 1);
}

.max-h-80-screen {
  max-height: 60vh;
}

#gallery-image-container {
  height: 60vh;
}

@media (min-width: 1024px) {
  #gallery-image-container {
    height: 80vh;
  }
  .max-h-80-screen {
    max-height: 80vh;
  }
}

.bg-black-op-90 {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  left: 0;
  top: 0;
}

.bg-dt-0 {
  background-color: #121212;
}

.bg-dt-1 {
  background-color: #1e1e1e;
}

.bg-dt-2 {
  background-color: #232323;
}

.border-dt-0 {
  border-color: #121212;
}

.nav-bar-link:hover {
  background-color: #2c2c2c;
}

.tag:hover {
  background-color: #2c2c2c;
}

.text-he {
  opacity: 87%;
}

.text-me {
  opacity: 60%;
}

.text-disabled {
  opacity: 38%;
}

/*
Overlays using plain white (branded colors later)

5%:     #1e1e1e
7%:     #232323
8%:     #252525
9%:     #282828
11%:    #2c2c2c
12%:    #2F2F2F
14%:    #343434
15%:    #363636
16%:    #383838

*/
