@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
    --primary-color-900: #db0000;
    --primary-color-800: #f20000;
    --primary-color-700: #ff1706;
    --primary-color-600: #ff240e;
    --primary-color-500: #ff2c13;
    --primary-color-400: #ff5939;
    --primary-color-300: #ff7c5d;
    --primary-color-200: #ffa48c;
    --primary-color-100: #ffc8b9;
    --primary-color-50: #ffe8e6;

    --secondary-color-100: #97f7f5;
    --secondary-color-200: #00f2f2;
    --secondary-color-700: #00b2b9;

    --basic-color-200: #f2f2f2;
    --basic-color-400: #c7c7c7;
    --basic-color-500: #a9a9a9;
}

.theme-light {
    /* FULL PAGE */
    --color-bg-main: #ffffff; /* The Page */
    --color-text: #000000;
    --opacity-text-high-emphasis: 100%;
    --opacity-text-medium-emphasis: 100%;
    --opacity-text-disabled: 50%;
    --color-error-text: #f56565;
    --color-border-default: #e2e8f0;
    --color-border-error: #f56565;
    --color-border-input-selected: #90cdf4; /* border-blue-300 */

    /* NAVBAR */
    --color-bg-surface-1: #ffffff; /* The Navbar */
    --color-bg-nav-link-hover: #edf2f7; /* Navbar links on hover */
    --border-width-nav-item: 1px;
    --color-bg-surface-2: #ffffff;

    --color-placeholder-nav-search-focus: #718096; /* Nav search placeholder text on focus */
    --color-nav-search-icon: #000000; /* Text color of the search icon */
    --opacity-nav-search-icon-default: 50%; /* Opacity of the search icon when not focused */
    --opacity-nav-search-icon-focus: 100%; /* Opacity of the nav search icon when focused */

    /* Images Grid */
    --width-border-image-card: 1px;

    /* Tags */
    --color-bg-tag: #e2e8f0;
    --color-bg-tag-hover: #cbd5e0;
    --color-tag: #718096;
    --color-tag-hover: #000000;
    --color-tag-item-hover: #000000;

    /* Buttons */
    --color-bg-basic: #e2e8f0;
    --color-bg-basic-hover: #cbd5e0;
    --color-button-basic: #000000;
    --color-bg-primary: #e2e8f0;
    --color-bg-primary-hover: #cbd5e0;
    --color-button-primary: #000000;
    --color-bg-button-disabled: #f7fafc;
    --color-button-disabled: #000000;
    --opacity-button-disabled: 50%;
    --color-bg-alternate: #f7fafc;
    --opacity-message-close: 50%;
    --opacity-message-close-hover: 100%;

    /* Messages */
    --color-bg-success: #aaf255;
    --color-bg-error: #f56565;
}

.theme-dark {
    /* FULL PAGE */
    --color-bg-main: #121212; /* The Page */
    --color-text: #ffffff;
    --opacity-text-high-emphasis: 87%;
    --opacity-text-medium-emphasis: 60%;
    --opacity-text-disabled: 38%;
    --color-error-text: #cf6679;
    --color-border-default: #383838;
    --color-border-error: #cf6679;
    --color-border-input-selected: #007870; /* secondary-700 */

    /* NAVBAR */
    --color-bg-surface-1: #1e1e1e; /* The Navbar */
    --color-bg-nav-link-hover: #2c2c2c; /* Navbar links on hover */
    --border-width-nav-item: 2px;
    --color-bg-surface-2: #232323;

    /* --color-placeholder-nav-search-focus: #718096; Nav search placeholder text on focus */
    --color-nav-search-icon: #ffffff; /* Text color of the search icon */
    --opacity-nav-search-icon-default: 38%; /* Opacity of the search icon when not focused */
    --opacity-nav-search-icon-focus: 87%; /* Opacity of the nav search icon when focused */

    /* Images Grid */
    --width-border-image-card: 0px;

    /* Tags */
    --color-bg-tag: #1e1e1e;
    --color-bg-tag-hover: #383838;
    --color-tag: #ffffff;
    --color-tag-hover: #ffffff;
    --color-tag-item-hover: #ffffff;

    /* Buttons */
    --color-bg-basic: #b8bcbc;
    --color-bg-basic-hover: #e9eeee;
    --color-button-basic: #000000;
    --color-bg-primary: #ffa28a;
    --color-bg-primary-hover: #ffc7b8;
    --color-button-primary: #000000;
    --color-bg-button-disabled: #2f2f2f;
    --color-button-disabled: #ffffff;
    --opacity-button-disabled: 100%;
    --color-bg-alternate: #1e1e1e;
    --opacity-message-close: 87%;
    --opacity-message-close-hover: 38%;

    /* Messages */
    --color-bg-success: #c6f68d;
    --color-bg-error: #cf6679;
}

.upload-add-tag:hover span,
.upload-add-tag:hover div i {
    opacity: var(--opacity-text-high-emphasis);
}

.outline-button:hover span {
    opacity: 100%;
}

.search-checkbox {
    transform: scale(1.5);
}

/* from: https://stackoverflow.com/questions/11131875/what-is-the-cleanest-way-to-disable-css-transition-effects-temporarily */
.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.message {
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}

.original-message {
    transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
}

#navSearchIcon {
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
}

.border-color-transition {
    transition: border-color 0.1s;
    -webkit-transition: border-color 0.1s;
}

.w-picture-card {
    width: 17rem;
}

.h-picture-card {
    height: 19.4rem;
}

.link-image {
    transition: transform 0.1s ease;
}

.link-image:hover {
    transform: translate(0rem, -0.3rem);
}

.max-w-7xl {
    max-width: 80rem;
}

#addTagsButton {
    transition: background-color 0.1s;
    -webkit-transition: background-color 0.1s;
}

.disabled-link {
    opacity: 50%;
    pointer-events: none;
}

.w-under-1-3 {
    width: 32.8%;
}

.w-under-1-4 {
    width: 24%;
}

.pb-1-3 {
    padding-bottom: 22%;
}

.flex-grow-3 {
    flex-grow: 2.3;
}

.next-picture:hover {
    box-shadow: 0 0 0 2px var(--basic-color-400);
}

@media (min-width: 768px) {
    #gallery-sidebar {
        padding-top: 10vh;
    }
}

.selected-picture {
    box-shadow: 0 0 0 2px var(--secondary-color-200);
}

.max-h-80-screen {
    max-height: 60vh;
}

#gallery-image-container {
    height: 60vh;
}

@media (min-width: 1024px) {
    #gallery-image-container {
        height: 80vh;
    }
    .max-h-80-screen {
        max-height: 80vh;
    }
}

.bg-black-op-90 {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal {
    left: 0;
    top: 0;
}

/*
Overlays using plain white (branded colors later)

5%:     #1e1e1e
7%:     #232323
8%:     #252525
9%:     #282828
11%:    #2c2c2c
12%:    #2F2F2F
14%:    #343434
15%:    #363636
16%:    #383838

*/

/* sliders from https://proto.io/freebies/onoff/ 

generated with Material, switch size 21, active color #00F2F2,
width: 41, height: 15, border radius: 30
Then, comment out the label:before box shadow, change the other box
shadow to alpha .9

*/

.theme-switch {
    position: relative;
    width: 41px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.theme-switch-checkbox {
    display: none;
}
.theme-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    height: 15px;
    padding: 0;
    line-height: 15px;
    border: 0px solid #ffffff;
    border-radius: 21px;
    background-color: var(--color-bg-basic);
}
.theme-switch-label:before {
    content: '';
    display: block;
    width: 21px;
    margin: -3px;
    background: #ffffff;
    position: absolute;
    top: 0;
    bottom: 0;
    /* right: 22px; */
    border-radius: 21px;
    box-shadow: 0 3px 6px 0px #757575;
}
.theme-switch-checkbox:checked + .theme-switch-label {
    background-color: #ffa28a;
}
.theme-switch-checkbox:checked + .theme-switch-label,
.theme-switch-checkbox:checked + .theme-switch-label:before {
    border-color: #ffa28a;
}
.theme-switch-checkbox:checked + .theme-switch-label .theme-switch-inner {
    margin-left: 0;
}
.theme-switch-checkbox:checked + .theme-switch-label:before {
    right: 0px;
    background-color: #ffa28a;
    box-shadow: 3px 6px 18px 4px rgba(0, 0, 0, 0.5);
}

.text-indent {
    text-indent: 7px;
}

.invalid-border-error:invalid {
    border-color: var(--color-border-error);
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-clip-rotate,
.la-ball-clip-rotate > div {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.la-ball-clip-rotate {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-clip-rotate.la-dark {
    color: #000;
}
.la-ball-clip-rotate > div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}
.la-ball-clip-rotate {
    width: 32px;
    height: 32px;
}
.la-ball-clip-rotate > div {
    width: 32px;
    height: 32px;
    background: transparent;
    border-width: 2px;
    border-bottom-color: transparent;
    border-radius: 100%;
    -webkit-animation: ball-clip-rotate 0.8s linear infinite;
    -moz-animation: ball-clip-rotate 0.8s linear infinite;
    -o-animation: ball-clip-rotate 0.8s linear infinite;
    animation: ball-clip-rotate 0.8s linear infinite;
}
.la-ball-clip-rotate.la-sm {
    width: 16px;
    height: 16px;
}
.la-ball-clip-rotate.la-sm > div {
    width: 16px;
    height: 16px;
    border-width: 1px;
}
.la-ball-clip-rotate.la-2x {
    width: 64px;
    height: 64px;
}
.la-ball-clip-rotate.la-2x > div {
    width: 64px;
    height: 64px;
    border-width: 4px;
}
.la-ball-clip-rotate.la-3x {
    width: 96px;
    height: 96px;
}
.la-ball-clip-rotate.la-3x > div {
    width: 96px;
    height: 96px;
    border-width: 6px;
}
/*
  * Animation
  */
@-webkit-keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes ball-clip-rotate {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -moz-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes ball-clip-rotate {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes ball-clip-rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
