@tailwind base;

@tailwind components;

@tailwind utilities;

#navSearchIcon {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#navSearchBorder {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.w-picture-card {
  width: 17rem;
}

.h-picture-card {
  height: 19.4rem;
}

.link-image {
  transition: 0.1s ease;
}

.link-image:hover {
  transform: translate(0rem, -0.2rem);
}

.max-w-7xl {
  max-width: 80rem;
}

#addTagsButton:active {
  /* Tailwind default bg-gray-500 */
  background-color: #a0aec0;
}

#addTagsInputContainer {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.disabled-link {
  opacity: 50%;
  pointer-events: none;
}

.w-under-1-3 {
  width: 32.8%;
}

.pb-1-3 {
  padding-bottom: 22%;
}

.flex-grow-3 {
  flex-grow: 2.3;
}

.next-picture:hover {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.16);
}

#gallery-sidebar {
  padding-top: 10vh;
}

.selected-picture {
  box-shadow: 0 0 0 2px rgba(0, 204, 0, 1);
}
