@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --primary-color-900: #db0000;
  --primary-color-800: #f20000;
  --primary-color-700: #ff1706;
  --primary-color-600: #ff240e;
  --primary-color-500: #ff2c13;
  --primary-color-400: #ff5939;
  --primary-color-300: #ff7c5d;
  --primary-color-200: #ffa48c;
  --primary-color-100: #ffc8b9;
  --primary-color-50: #ffe8e6;

  --secondary-color-100: #97f7f5;
  --secondary-color-200: #00f2f2;
  --secondary-color-700: #00b2b9;

  --basic-color-200: #f2f2f2;
  --basic-color-400: #c7c7c7;
  --basic-color-500: #a9a9a9;
}

#navSearchIcon {
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
}

#navSearchBorder {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.w-picture-card {
  width: 17rem;
}

.h-picture-card {
  height: 19.4rem;
}

.link-image {
  transition: 0.1s ease;
}

.link-image:hover {
  transform: translate(0rem, -0.2rem);
}

.max-w-7xl {
  max-width: 80rem;
}

#addTagsButton {
  transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
}

#addTagsInputContainer {
  transition: border-color 0.1s;
  -webkit-transition: border-color 0.1s;
}

.disabled-link {
  opacity: 50%;
  pointer-events: none;
}

.w-under-1-3 {
  width: 32.8%;
}

.w-under-1-4 {
  width: 24%;
}

.pb-1-3 {
  padding-bottom: 22%;
}

.flex-grow-3 {
  flex-grow: 2.3;
}

.next-picture:hover {
  box-shadow: 0 0 0 2px var(--basic-color-400);
}

@media (min-width: 768px) {
  #gallery-sidebar {
    padding-top: 10vh;
  }
}

.selected-picture {
  box-shadow: 0 0 0 2px var(--secondary-color-200);
}

.max-h-80-screen {
  max-height: 60vh;
}

#gallery-image-container {
  height: 60vh;
}

@media (min-width: 1024px) {
  #gallery-image-container {
    height: 80vh;
  }
  .max-h-80-screen {
    max-height: 80vh;
  }
}

.bg-black-op-90 {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  left: 0;
  top: 0;
}

.text-he {
  color: white;
  opacity: 87%;
}

.text-me {
  color: white;
  opacity: 60%;
}

.text-disabled {
  color: white;
  opacity: 38%;
}

.tag-close:hover {
  opacity: 87%;
}

/*
Overlays using plain white (branded colors later)

5%:     #1e1e1e
7%:     #232323
8%:     #252525
9%:     #282828
11%:    #2c2c2c
12%:    #2F2F2F
14%:    #343434
15%:    #363636
16%:    #383838

*/
