@tailwind base;

@tailwind components;

@tailwind utilities;

#navSearchIcon {
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
}

#navSearchBorder {
    transition: border-color .1s;
    -webkit-transition: border-color .1s;
}

.w-picture-card {
    width: 17.5rem;
}

.h-picture-card {
    height: 20rem;
}

.link-image {
    transition: 0.1s ease;
}

.link-image:hover {
    transform: translate(0rem, -.2rem);
}

.max-w-7xl {
    max-width: 80rem;
}
