version: "3.6"
services:
    prometheus:
        image: prom/prometheus
        volumes:
            - ./prometheus/:/etc/prometheus/
        command:
            - "--config.file=/etc/prometheus/prometheus.yaml"
        ports:
            - 9090:9090
