{% with first_picture=pictures|first last_picture=pictures|last %}
<div class="flex md:mx-6 justify-between">
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <div>
            <a 
                
                href="{% url 'gallery' %}?{{ change_page_base_query }}&before={{ first_picture.public_id }}"

                {% if render_previous_button %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic hover:bg-basic-hover text-black"
                {% else %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-button-disabled pointer-events-none"
                {% endif %}

                title="Previous Page"
            >
                {% if render_previous_button %}
                <i class="fas fa-angle-double-left"></i>
                {% else %}
                <i class="fas fa-angle-double-left opacity-disabled"></i>
                {% endif %}
            </a>
        </div>
        <button 
            class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 ml-2 previous-button bg-basic hover:bg-basic-hover text-black"
            title="Previous Image"
            onclick=previousPicture()
        >
            <i class="fas fa-chevron-left"></i>
        </button>
        <a 
            href="{% url 'gallery' %}?{{ change_page_base_query }}&before={{ first_picture.public_id }}"

            {% if render_previous_button %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link bg-basic hover:bg-basic-hover text-black"
            {% else %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link bg-button-disabled pointer-events-none"
            {% endif %}

            title="Previous Image"
        >
            {% if render_previous_button %}
            <i class="fas fa-chevron-left"></i>
            {% else %}
            <i class="fas fa-chevron-left opacity-disabled"></i>
            {% endif %}
        </a>

    </div>
    
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <button 
            class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 mr-2 next-button bg-basic hover:bg-basic-hover text-black"
            title="Next Image"
            onclick=nextPicture()
        >
            <i class="fas fa-chevron-right"></i>
        </button>
        <a 
            href="{% url 'gallery' %}?{{ change_page_base_query }}&after={{ last_picture.public_id }}"

            {% if render_next_button %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link bg-basic hover:bg-basic-hover text-black"
            {% else %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link bg-button-disabled pointer-events-none"
            {% endif %}

            title="Next Image"
        >
            {% if render_next_button %}
            <i class="fas fa-chevron-right"></i>
            {% else %}
            <i class="fas fa-chevron-right opacity-disabled"></i>
            {% endif %}
        </a>
        <div>
            <a 
                href="{% url 'gallery' %}?{{ change_page_base_query }}&after={{ last_picture.public_id }}"

                {% if render_next_button %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic hover:bg-basic-hover text-black"
                {% else %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-button-disabled pointer-events-none"
                {% endif %}
                title="Next Page"
            >
                {% if render_next_button %}
                <i class="fas fa-angle-double-right"></i>
                {% else %}
                <i class="fas fa-angle-double-right opacity-disabled"></i>
                {% endif %}
            </a>
        </div>
    </div>   
</div>
{% endwith %}