<div class="flex md:mx-6 justify-between">
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <div>
            <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center" -->
            <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center opacity-50 pointer-events-none" -->
            <a 
                href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}"

                {% if render_previous_button %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic-400 hover:bg-basic-500 text-black"
                {% else %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-dt-6 pointer-events-none"
                {% endif %}

                title="Previous Page"
            >
                {% if render_previous_button %}
                <i class="fas fa-angle-double-left"></i>
                {% else %}
                <i class="fas fa-angle-double-left opacity-disabled"></i>
                {% endif %}
            </a>
        </div>
        <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 ml-2 previous-button" -->
        <button 
            class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 ml-2 previous-button bg-basic-400 hover:bg-basic-500 text-black"
            title="Previous Image"
            onclick=previousPicture()
        >
            <i class="fas fa-chevron-left"></i>
        </button>
        <!-- old: "hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link -->
        <!-- old: "hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link opacity-50 pointer-events-none" -->
        <a 
            href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}"

            {% if render_previous_button %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link bg-basic-400 hover:bg-basic-500 text-black"
            {% else %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link bg-dt-6 pointer-events-none"
            {% endif %}

            title="Previous Image"
        >
            {% if render_previous_button %}
            <i class="fas fa-chevron-left"></i>
            {% else %}
            <i class="fas fa-chevron-left opacity-disabled"></i>
            {% endif %}
        </a>

    </div>
    
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 mr-2 next-button" -->
        <button 
            class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 mr-2 next-button bg-basic-400 hover:bg-basic-500 text-black"
            title="Next Image"
            onclick=nextPicture()
        >
            <i class="fas fa-chevron-right"></i>
        </button>
        <!--old: "hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link" --?
        <!-- old: "hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link opacity-50 pointer-events-none" -->
        <a 
            href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}"

            {% if render_next_button %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link bg-basic-400 hover:bg-basic-500 text-black"
            {% else %}
            class="hidden shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-6 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link bg-dt-6 pointer-events-none"
            {% endif %}

            title="Next Image"
        >
            {% if render_next_button %}
            <i class="fas fa-chevron-right"></i>
            {% else %}
            <i class="fas fa-chevron-right opacity-disabled"></i>
            {% endif %}
        </a>
        <div>
            <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center" -->
            <!-- old: "bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center opacity-50 pointer-events-none" -->
            <a 
                href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}"

                {% if render_next_button %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic-400 hover:bg-basic-500 text-black"
                {% else %}
                class="shadow md:shadow-none rounded md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-dt-6 pointer-events-none"
                {% endif %}
                title="Next Page"
            >
                {% if render_next_button %}
                <i class="fas fa-angle-double-right"></i>
                {% else %}
                <i class="fas fa-angle-double-right opacity-disabled"></i>
                {% endif %}
            </a>
        </div>
    </div>   
</div>