<div class="flex md:mx-6 justify-between">
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <div>
            <a 
                href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}"

                {% if render_previous_button %}
                class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center"
                {% else %}
                class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center opacity-50 pointer-events-none"
                {% endif %}

                title="Previous Page"
            >
                <i class="fas fa-angle-double-left"></i>
            </a>
        </div>
        <button 
            class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 ml-2 previous-button"
            title="Previous Image"
            onclick=previousPicture()
        >
            <i class="fas fa-arrow-left"></i>
        </button>
        <a 
            href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}"

            {% if render_previous_button %}
            class="hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link"
            {% else %}
            class="hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center ml-2 previous-link opacity-50 pointer-events-none"
            {% endif %}

            title="Previous Image"
        >
            <i class="fas fa-arrow-left"></i>
        </a>

    </div>
    
    <div class="flex justify-between w-5/12 xl:w-2/5">
        <button 
            class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 mr-2 next-button"
            title="Next Image"
            onclick=nextPicture()
        >
            <i class="fas fa-arrow-right"></i>
        </button>
        <a 
            href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}"

            {% if render_next_button %}
            class="hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link"
            {% else %}
            class="hidden bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center mr-2 next-link opacity-50 pointer-events-none"
            {% endif %}

            title="Next Image"
        >
            <i class="fas fa-arrow-right"></i>
        </a>
        <div>
            <a 
                href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}"

                {% if render_next_button %}
                class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center"
                {% else %}
                class="bg-gray-300 hover:bg-gray-500 shadow md:shadow-none rounded-b md:rounded-none md:rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center opacity-50 pointer-events-none"
                {% endif %}
                title="Next Page"
            >
                <i class="fas fa-angle-double-right"></i>
            </a>
        </div>
    </div>   
</div>