{% if pictures %}
{% load thumbnail %}
{% for picture in pictures %}
<li class="mt-5 px-3">
    <div class="w-picture-card">

        <a 
            href="{% url 'gallery' %}?p={{ picture.public_id }}{% for name, value in main_qsp.items %}{% if value %}&{{ name }}={{ value }}{% endif %}{% endfor %}"
        >
            <div class="h-picture-card bg-surface-1 border-image-card rounded-lg overflow-hidden shadow link-image">
                <img class="object-cover" src="{{ picture.thumbnail }}" alt="">
            </div>
        </a>

        <a href="{% url 'picture' picture_public_id=picture.public_id %}">
            <h3 class="text-2xl font-semibold py-2 opacity-high-emphasis hover:opacity-50">{{ picture.title|truncatechars:19 }}</h3>
        </a>

        <div class="card-tags flex flex-row flex-wrap">
            {% with split_tags=picture.split_tags %}

            {% for tag in split_tags.above_tags %}
            <a href="{% url 'search'%}?tags={{ tag }}" class="tag rounded py-1 px-2 text-xs mr-2 font-medium mb-2 bg-tag hover:bg-tag-hover text-tag hover:text-tag-hover">
                <span class="opacity-medium-emphasis">{{ tag }}</span>
            </a>
            {% endfor %}
            {% if picture.split_tags.below_tags %}
            {% for tag in split_tags.below_tags %}

            <a href="{% url 'search'%}?tags={{ tag }}" class="tag rounded py-1 px-2 text-xs mr-2 font-medium mb-2 collapsed-tag bg-tag hover:bg-tag-hover text-tag hover:text-tag-hover hidden">
                <span class="opacity-medium-emphasis">{{ tag }}</span>
            </a>
            {% endfor %}
            <button class="tag rounded py-1 px-3 text-xs mr-2 mb-2 tag-expander bg-tag hover:bg-tag-hover hover:text-tag-hover" onclick="expandTags(this)">
                <i class="fas fa-level-down-alt opacity-medium-emphasis"></i>
            </button>
            {% endif %}
            {% endwith %}
        </div>

    </div>
</li>
{% endfor %}

{% for placeholder in grid_placeholders %}
<li class="card-container mt-5 px-3">
    <div class="full-card w-picture-card">
    </div>
</li>
{% endfor %}
{% endif %}