<!-- old:bg-white-500 -->
<nav class="flex items-center justify-between bg-surface-1 rounded shadow">
  <div class="flex">
    <a href="/" class="py-4 md:py-5 px-4 md:px-6 text-lg md:text-xl hover:bg-nav-link-hover border-default border-r-2 sm:border-r-0 flex items-center">
        <span class="opacity-high-emphasis">Home</span>
    </a>
    <form action="{% url 'search' %}" method="get">
      <div class="border-l-2 border-r-2 border-default hidden sm:flex items-center text-lg md:text-xl relative">
        <input
          name="q"
          type="text" 
          class="focus:outline-none appearance-none py-2 md:py-3 px-2 md:px-3 mx-2 md:mx-3 my-2 bg-surface-1 opacity-high-emphasis border-2 rounded border-default focus:border-input-selected border-color-transition disable-transition-on-theme-change"
          placeholder="Search Tags ..."
          maxlength="{{ max_tag_length }}"
          onfocus="navSearchOnFocus(this)"
          onfocusout="navSearchOnFocusOut(this)"
          oninput="navSearchRestrictOnInput(this, '{{invalid_tag_char_regex}}')"
          onchange="navSearchRestrictOnInput(this, '{{invalid_tag_char_regex}}')"
        >
        <i class="fas fa-search opacity-disabled disable-transition-on-theme-change absolute right-6 md:right-8"></i>
      </div>
    </form>
  </div>

  <div class="flex items-center">

    <button 
      class="py-nav-perf px-5 flex sm:hidden items-center justify-center hover:bg-nav-link-hover"
      id="search-dropdown-toggle"
      onclick="toggleSearchDropdownVisible()"
    >
      <i class="fas fa-search opacity-high-emphasis text-lg"></i>
    </button>

    {% if user.is_authenticated %}
    <a href="{% url 'upload' %}" class="bg-primary hover:bg-primary-hover rounded text-black px-2 md:px-3 py-1 md:py-2 text-black opacity-high-emphasis md:text-lg ml-1 mr-3">
      Upload
    </a>
    <a href="{% url 'profile' %}" class="bg-primary hover:bg-primary-hover rounded text-black px-2 md:px-3 py-1 md:py-2 text-black opacity-high-emphasis md:text-lg ml-1 mr-2 md:mr-8 md:ml-4">
      Profile
    </a>
    {% else %}
    <a href="{% url 'login' %}" class="border-basic border-2 bg-alternate hover:bg-basic rounded text-black px-2 md:px-3 py-1 md:py-2 text-primary opacity-high-emphasis hover:text-black hover:opacity-100 md:text-lg ml-1 mr-3 md:mx-8">
      Login
    </a>
    
    <a href="{% url 'register' %}" class="border-basic border-2 bg-alternate hover:bg-basic rounded text-black px-2 md:px-3 py-1 md:py-2 text-primary opacity-high-emphasis hover:text-black hover:opacity-100 md:text-lg mr-0 md:mr-8 whitespace-no-wrap">
      Sign up
    </a>
    {% endif %}
    
    <div class="mx-2 h-full flex flex-col justify-center">
      <div class="hidden sm:flex">
        <i class="far fa-sun text-lg md:text-xl mr-2 opacity-disabled" id="theme-sun-icon"></i>

        <div class="flex flex-col justify-center">
          <div class="theme-switch">
              <input type="checkbox" name="theme-switch" class="theme-switch-checkbox" id="theme-switch" checked onclick="toggleLightDarkTheme()">
              <label class="theme-switch-label" for="theme-switch"></label>
          </div>
        </div>

        <i class="far fa-moon text-lg md:text-xl ml-2 opacity-high-emphasis" id="theme-moon-icon"></i>
      </div>

      <button class='bg-basic rounded px-3 block sm:hidden py-2 shadow text-center mr-3' onclick="toggleThemeSwitch()"> 
        <i class="far fa-moon text-black opacity-high-emphasis"></i>
      </button>
    </div>
  </div>
</nav>

<form action="{% url 'search' %}" method="get">
  <div class="w-full bg-nav-link-hover flex justify-center relative flex items-center hidden sm:hidden" id="navbar-search-dropdown">
    <input
      name="q"
      class="focus:outline-none focus:border-input-selected appearance-none py-2 my-2 pl-2 w-3/4 bg-surface-1 opacity-high-emphasis border-2 rounded border-default border-color-transition disable-transition-on-theme-change" 
      type="text" placeholder="Search Tags..." 
      maxlength="{{ max_tag_length }}"
      onfocus="navSearchOnFocus(this)"
      onfocusout="navSearchOnFocusOut(this)"
      oninput="navSearchRestrictOnInput(this, '{{invalid_tag_char_regex}}')"
      onchange="navSearchRestrictOnInput(this, '{{invalid_tag_char_regex}}')"
    >
    <i class="fas fa-search opacity-disabled disable-transition-on-theme-change absolute right-17p"></i>
  </div>
</form>


