<div class="ui massive menu">
    <a href="/images" class="item">
        Home
    </a>
    <div class="item">
        <div class="ui icon input">
            <input type="text" placeholder="Search Tags..."/>
            <i class="search icon"></i>
        </div>
    </div>
</div>
