---
    - hosts: web
      become: yes
    
      vars_prompt:
        - name: GitCheckout
          description: What to checkout in the repository when deploying
          default: master
          private: false
          
      tasks:
        - name: Upload env file (not tracked in git)
          copy:
            src: gunicorn_env
            dest: /home/django/gunicorn_env
            owner: django
            group: django

        - name: get timestamp from the system
          shell: "date --utc +%F_%H-%M-%S-%Z"
          register: timestamp
    
        - name: clone repository
          become_user: django
          git:
            name: git@github.com:heldridge/photos-webapp.git
            dest: "/home/django/checkouts/{{ timestamp.stdout }}"
        
        - name: Checkout correct version
          become_user: django
          command:
            cmd: "git checkout {{ GitCheckout }}"
            chdir: /home/django/checkouts/{{ timestamp.stdout }}
        
        - name: install virtualenv requirements
          pip:
            name:
              - virtualenv
              - setuptools
    
        - name: install application requirements
          become_user: django
          pip:
            virtualenv: "/home/django/checkouts/{{ timestamp.stdout }}/django/venv"
            virtualenv_command: "/usr/bin/python3 -m virtualenv"
            virtualenv_python: python3.8
            requirements: "/home/django/checkouts/{{ timestamp.stdout }}/requirements.txt"
    
        - name: create deployment symlink
          file:
            state: link
            path: /home/django/current_deployment
            src: "/home/django/checkouts/{{ timestamp.stdout }}/django"
            follow: false
          
        - name: start gunicorn service
          systemd:
            state: restarted
            enabled: yes
            name: gunicorn
    
        - name: restart nginx
          systemd:
            state: restarted
            name: nginx

        - name: Add update tags cron
          cron:
            user: django
            name: "Update tags table"
            minute: "0"
            hour: "0"
            job: "/home/django/current_deployment/venv/bin/python /home/django/current_deployment/manage.py updatetagstable"

        - name: Add clear sessions cron
          cron:
            user: django
            name: "Clear sessions"
            minute: "0"
            hour: "0"
            job: "/home/django/current_deployment/venv/bin/python /home/django/current_deployment/manage.py clearsessions"

        - name: Copy over clear checkouts script
          copy:
            src: clear_checkouts.py
            dest: /home/django/clear_checkouts.py
            owner: root
            group: root
            mode: '0555'

        - name: Add clear checkouts cronjob
          cron:
            user: django
            name: "Clear checkouts"
            minute: "0"
            hour: "0"
            job: "/home/django/current_deployment/venv/bin/python /home/django/clear_checkouts.py"
