---
- hosts: web
  become: yes

  vars:
    python_version: 3.8

  tasks:
    - name: Set hostname
      hostname:
        name: web
  
    - name: add nginx repository
      apt_repository:
        repo: ppa:nginx/stable

    - name: add deadsnakes repository
      apt_repository:
          repo: ppa:deadsnakes/ppa

    - name: install packages
      apt:
        name: 
          - nginx
          - python3-pip
          - python3
          - libpq-dev 
          - python-dev
        state: latest
        update_cache: yes

    - name: upgrade packages
      apt:
        upgrade: full

    - name: create django user
      user:
        name: django
        shell: /bin/bash
        comment: User for django to run as

    - name: create django ssh directory
      file:
        path: /home/django/.ssh
        state: directory
        owner: django
        group: django

    - name: add github ssh key
      copy:
        src: ~/.ssh/ansible
        dest: /home/django/.ssh/id_rsa
        mode: '0600'
        owner: django
        group: django

    - name: add ssh config
      copy:
        src: web_ssh_config
        dest: /home/django/.ssh/config
        owner: django
        group: django

    - name: add known hosts file
      copy:
        src: web_known_hosts
        dest: /home/django/.ssh/known_hosts
        owner: django
        group: django

    - name: create checkouts directory
      file:
        path: /home/django/checkouts
        owner: django
        group: django
        state: directory

    - name: upload gunicorn service config
      copy:
        src: gunicorn.service
        dest: /etc/systemd/system/gunicorn.service
        owner: root
        group: root
        mode: '0644'

    - name: start gunicorn service
      systemd:
        state: restarted
        enabled: yes
        name: gunicorn

    - name: upload nginx config
      copy: 
        src: photos
        dest: /etc/nginx/sites-available/photos
        owner: root
        group: root
        mode: '0644'
    
    - name: symlink site to sites-enabled
      file:
        state: link
        path: /etc/nginx/sites-enabled/photos
        src: /etc/nginx/sites-available/photos

    - name: restart nginx
      systemd:
        state: restarted
        name: nginx

    - name: open nginx to world
      ufw:
        rule: allow
        name: "Nginx Full"