---
- hosts: web
  become: yes

  vars:
    python_version: 3.8
    dbname: photos
    dbuser: django
    postgresql_version: 12
  
  vars_prompt:
    - name: dbpassword
      description: "The password to the database"
      private: yes

  handlers:
    - name: restart postgres
      service:
        name: postgresql
        state: restarted

    - name: restart opendkim
      become: yes
      service:
        name: opendkim
        state: restarted

    - name: restart postfix
      become: yes
      service:
        name: postfix
        state: restarted

  tasks:
    - name: Set hostname
      hostname:
        name: lewdix.com
  
    - name: add nginx repository
      apt_repository:
        repo: ppa:nginx/stable

    - name: add deadsnakes repository
      apt_repository:
          repo: ppa:deadsnakes/ppa

    - name: install packages
      apt:
        name: 
          - nginx
          - python3-pip
          - python3
          - libpq-dev 
          - python3.8-dev
          - memcached
          - software-properties-common
          - postfix
          - opendkim
          - opendkim-tools
        state: latest
        update_cache: yes
    
    - name: add certbot repository
      apt_repository:
        repo: ppa:certbot/certbot
    
    - name: install certbot
      apt:
        name: 
          - certbot
          - python-certbot-nginx
        update_cache: yes

    - name: start memcached
      command: /etc/init.d/memcached start

    - name: upgrade packages
      apt:
        upgrade: full

    - name: create django user
      user:
        name: django
        shell: /bin/bash
        comment: User for django to run as

    - name: create django ssh directory
      file:
        path: /home/django/.ssh
        state: directory
        owner: django
        group: django

    - name: add github ssh key
      copy:
        src: ~/.ssh/ansible
        dest: /home/django/.ssh/id_rsa
        mode: '0600'
        owner: django
        group: django

    - name: add ssh config
      copy:
        src: web_ssh_config
        dest: /home/django/.ssh/config
        owner: django
        group: django

    - name: add known hosts file
      copy:
        src: web_known_hosts
        dest: /home/django/.ssh/known_hosts
        owner: django
        group: django

    - name: create checkouts directory
      file:
        path: /home/django/checkouts
        owner: django
        group: django
        state: directory

    - name: Upload env file (not tracked in git)
      copy:
        src: gunicorn_env
        dest: /home/django/gunicorn_env
        owner: django
        group: django

    - name: upload gunicorn service config
      copy:
        src: gunicorn.service
        dest: /etc/systemd/system/gunicorn.service
        owner: root
        group: root
        mode: '0644'

    - name: start gunicorn service
      systemd:
        state: restarted
        enabled: yes
        name: gunicorn

    # - name: upload nginx config
    #   copy: 
    #     src: photos
    #     dest: /etc/nginx/sites-available/photos
    #     owner: root
    #     group: root
    #     mode: '0644'
    
    # - name: symlink site to sites-enabled
    #   file:
    #     state: link
    #     path: /etc/nginx/sites-enabled/photos
    #     src: /etc/nginx/sites-available/photos

    # - name: restart nginx
    #   systemd:
    #     state: restarted
    #     name: nginx

  # DATABSE
    - name: add postgres repository
      lineinfile:
          path: /etc/apt/sources.list.d/pgdg.list
          line: deb http://apt.postgresql.org/pub/repos/apt/ bionic-pgdg main
          create: yes
  
    - name: add postgres signing key
      apt_key:
        url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
        state: present
  
    - name: install postgres and requirements
      apt:
        name: 
          - "postgresql-{{ postgresql_version }}"
          - postgresql-contrib
          - python-psycopg2
        state: latest
        update_cache: yes
  
    - name: upgrade packages
      apt:
        upgrade: full
  
    - name: Install python requirements
      pip:
        name:
          - psycopg2
          - virtualenv

    - name: ensure database is created
      become_user: postgres
      postgresql_db: 
        name: "{{ dbname }}"

    - name: ensure user has access to database
      become_user: postgres
      postgresql_user: 
        db: "{{ dbname }}"
        name: "{{ dbuser }}"
        password: "{{ dbpassword }}"
        priv: ALL

    - name: ensure user does not have unnecessary privilege
      become_user: postgres
      postgresql_user: 
        name: "{{ dbuser }}"
        role_attr_flags: NOSUPERUSER,NOCREATEDB
    
    - name: ensure no other user can access the database
      become_user: postgres
      postgresql_privs: 
        db: "{{ dbname }}"
        role: PUBLIC
        type: database 
        priv: ALL
        state: absent
  
    - name: Update opendkim conf
      blockinfile:
        path: /etc/opendkim.conf
        insertafter: EOF
        block: |
          AutoRestart             Yes
          AutoRestartRate         10/1h
          UMask                   002
          Syslog                  yes
          SyslogSuccess           Yes
          LogWhy                  Yes

          Canonicalization        relaxed/simple

          ExternalIgnoreList      refile:/etc/opendkim/TrustedHosts
          InternalHosts           refile:/etc/opendkim/TrustedHosts
          KeyTable                refile:/etc/opendkim/KeyTable
          SigningTable            refile:/etc/opendkim/SigningTable

          Mode                    sv
          PidFile                 /var/run/opendkim/opendkim.pid
          SignatureAlgorithm      rsa-sha256

          UserID                  opendkim:opendkim

          Socket                  inet:12301@localhost
      notify: restart opendkim

    - name: Update opendkim default
      lineinfile:
        path: /etc/default/opendkim
        insertafter: EOF
        line: SOCKET="inet:12301@localhost"
      notify: restart opendkim

    - name: Update postfix conf
      blockinfile:
        path: /etc/postfix/main.cf
        insertafter: EOF
        block: |
          milter_protocol = 2
          milter_default_action = accept

          smtpd_milters = inet:localhost:12301
          non_smtpd_milters = inet:localhost:12301
      notify: restart postfix

    - name: Make opendkim directory
      file:
        path: /etc/opendkim
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Make the opendkim keys directory
      file:
        path: /etc/opendkim/keys
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Copy over TrustedHosts file
      copy:
        src: dkim/TrustedHosts
        dest: /etc/opendkim/TrustedHosts
        mode: '0644'
        owner: root
        group: root
      notify: restart opendkim

    - name: Copy over KeyTable file
      copy:
        src: dkim/KeyTable
        dest: /etc/opendkim/KeyTable
        mode: '0644'
        owner: root
        group: root
      notify: restart opendkim

    - name: Copy over SigningTable file
      copy:
        src: dkim/SigningTable
        dest: /etc/opendkim/SigningTable
        mode: '0644'
        owner: root
        group: root
      notify: restart opendkim

    - name: Make domain directory
      file:
        path: /etc/opendkim/keys/lewdix.com
        state: directory
        mode: '0755'
        owner: root
        group: root

    - name: Generate domain keys
      command:
        chdir: /etc/opendkim/keys/lewdix.com
        cmd: opendkim-genkey -s mail -d lewdix.com
        creates: /etc/opendkim/keys/lewdix.com/mail.private
      notify: restart opendkim

    - name: Chown private key to opendkim
      file:
        path: /etc/opendkim/keys/lewdix.com/mail.private
        owner: opendkim
        group: opendkim

    - name: Update postfix hostname
      lineinfile:
        path: /etc/postfix/main.cf
        regexp: '^myhostname ='
        line: "myhostname = lewdix.com"
      notify: restart postfix
