{% autoescape off %}
Hi {{ user_display_name }},

Please click on the link to confirm your email, https://{{ domain }}{% url 'confirm_email' user_public_id=user_public_id token=token %}
{% endautoescape %}