{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

<div class="flex flex-col items-center justify-center">
    <span class='text-4xl text-error mt-4'>Email confirmation link is no longer valid!</span>
</div>

<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>
{% endblock %}