{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if photo %}
<div class="px-8 pt-4 pb-20 flex justify-center">
    <div class="flex flex-col">
        <img src="{{ photo.url }}" alt="{{ title }}" title="{{ title }}">
        <div class="flex flex-col sm:flex-row sm:justify-between items-center">
            {% if uploaded_by_public_id %}
            <a 
                href="{% url 'users' user_public_id=uploaded_by_public_id %}" 
                class='opacity-medium-emphasis hover:opacity-50 text-xl sm:text-3xl'
                id='uploaded-by-link'
            >
                {{ uploaded_by_display_name }}
            </a>
            {% else %}
            <a href="/" id='uploaded-by-link'></a>
            {% endif %}

            <h3 class="text-3xl sm:text-5xl font-semibold opacity-high-emphasis">
                {{ title }}
            </h3>

            {% if favorite %}
            <button 
                class="shadow text-black bg-basic hover:bg-basic-hover md:text-lg rounded flex items-center justify-center justify-self-end w-10 h-10"
                onclick="removeFavoriteWrapper(this)"
                id="favoriteButton"
            >
                <i class="fas fa-heart text-error"></i>
            </button>
            {% else %}
            <div class="flex justify-between">
                {% if render_delete_button %}
                <div class="relative">
                
                    <button
                        id="deleteButton"
                        class="shadow text-black bg-basic hover:bg-basic-hover md:text-lg rounded flex items-center justify-center justify-self-end w-10 h-10 mr-4"
                        onclick="toggleConfirmDeleteBoxVisibility()"
                    >
                        <i class="fas fa-trash-alt"></i>
                        
                    </button>
                    <div class="hidden absolute bg-surface-4 shadow-lg rounded confirm-delete-box p-4 w-64 flex flex-col items-center" id="confirmDeleteBox">
                        <span class="opacity-high-emphasis text-primary text-center">Are you sure you want to delete <span class="font-semibold">{{ title }}?</span></span>
                        <div class="flex mt-2">
                            <button class="bg-error hover:bg-error-hover rounded text-black px-2 py-1 text-black">
                                <span class='opacity-high-emphasis'>Delete</span>
                            </button>

                            <button class="bg-basic hover:bg-basic-hover rounded text-black px-2 py-1 text-black ml-3">
                                <span class='opacity-high-emphasis'>Cancel</span>
                            </button>
                        </div>        
                    </div>
                </div>
                {% endif %}
                <button 
                    class="shadow text-black bg-basic hover:bg-basic-hover md:text-lg rounded flex items-center justify-center justify-self-end w-10 h-10"
                    onclick="addFavoriteWrapper(this)"
                    id="favoriteButton"
                >
                    <i class="far fa-heart"></i>
                </button>
            </div>
            {% endif %}
        </div>
        <div class="flex flex-wrap mt-2">
            {% for tag in tags %}
            <!-- old: "tag bg-gray-300 hover:bg-gray-400 rounded py-2 px-3 text mr-3 font-medium mb-3 text-gray-600 hover:text-black"> -->
            <a href="{% url 'search'%}?tags={{ tag }}" class="tag bg-gray-300 hover:bg-gray-400 rounded py-2 px-3 text mr-3 font-medium mb-3 bg-tag hover:bg-tag-hover text-tag hover:text-tag-hover">
                <span class="opacity-medium-emphasis"> {{ tag }} </span>
            </a>
            {% endfor %}
        </div>
        
    </div>
</div>
{% else %}
<div class="flex flex-col items-center">
    <h1 class="text-5xl font-semibold py-4 opacity-high-emphasis">Picture does not exist!</h1>
    <a href="{% url 'index' %}"" class="rounded shadow py-2 pl-3 pr-4 bg-basic hover:bg-basic-hover text-black text-lg">
        Back Home
    </a>
</div>
{% endif %}
{% csrf_token %}

{{public_id|json_script:"publicId"}}
<script type="text/javascript" src="{% static 'js/picture.js' %}"></script>
{% endblock %}