{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if messages %}
<div class="flex justify-center z-10">
    <ul class="messages absolute z-10">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<h1>Upload</h1>

<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>
{% endblock %}