{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
{% if not user.email_confirmed %}
<div class="flex flex-col items-center justify-center mt-10">
    <span class="text-3xl text-error mb-4">Your email must be confirmed to upload content</span>
    <button class="flex items-center bg-primary hover:bg-primary-hover text-black px-3 py-2 text-lg rounded ml-10" onclick="sendConfirmationEmail(this)">
        <span>Send confirmation email</span>
    </button>
</div>
{% csrf_token %}
{% else %}

<div class="flex justify-center">
    <h1 class="text-5xl font-semibold py-4 opacity-high-emphasis">Upload</h1>
</div>

<form method = "post" enctype="multipart/form-data" class='text-primary flex flex-col items-center text-lg'> 
    {% csrf_token %} 
    <div class="">
    {% for field in form %}
    
    <div class="flex flex-col {% if forloop.last %}py-5{% elif not forloop.first %}pt-5{% endif %} items-center w-full">
        <div class="flex flex-col sm:flex-row items-center justify-between w-full">
            <span class="text-lg opacity-high-emphasis {% if forloop.last %}ml-20{% endif %} mr-5">
                {{ field.label_tag }}
            </span>
            {{ field }}
        </div> 
        
        <div class="text-error pt-1">
            <ul>
                {% for error in field.errors %}
                {% if forloop.first %}
                <li>{{ error| escape }}</li>
                {% else %}
                <li class="pt-2">{{ error| escape }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>

        {% if field.name == 'tags' %}
            <div class="flex flex-row flex-wrap mb-5 mt-3 px-4">
                {% for tag in top_tags %}
                {% if forloop.counter0 == 0 %}
                <span class="mr-2">Popular Tags:</span>
                {% else %}
                {% endif %}
                <button 
                    class="tag bg-gray-300 rounded py-2 px-3 mr-3 font-medium text-sm mb-3 bg-tag text-tag hover:text-tag-hover flex items-center"
                    onclick="addPopularTag(this)"
                    type="button"
                >
                    <span>{{ tag.title }}</span>
                    <div class="ml-2">
                        <i class="fas fa-plus" id="addTagsIcon"></i>
                    </div>
                </button>
                {% endfor %}
            </div>
        {% else %}
        {% endif %}
    </div>
    
    {% endfor %}
    </div>
    <button type="submit" class="rounded shadow py-2 pl-3 pr-4 bg-basic hover:bg-basic-hover text-black">Upload Image</button> 
</form> 
{% endif %}
{% else %}
<div class="flex justify-center">
    <h1 class="text-3xl font-semibold py-4 opacity-medium-emphasis">Must be logged in to upload</h1>
</div>
{% endif %}


<script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
{% endblock %}