{% extends 'base.html.j2' %}

{% load static %}

{% block content %}


<div class="flex flex-col items-center">
    <span class="text-3xl opacity-high-emphasis my-4">Reset Complete!</span>

    <a href="{% url 'login' %}" class="border-basic border-2 bg-alternate hover:bg-basic rounded text-black px-2 md:px-3 py-1 md:py-2 text-primary hover:text-black hover:opacity-100 md:text-lg ml-1 mr-3 md:mx-8 outline-button">
      <span class='opacity-high-emphasis'>Login</span>
    </a>

</div>

<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>

{% endblock %}