{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if validlink %}
<form method="post" class='flex justify-center mt-10'>
    {% csrf_token %}
    <div class="">
        {% for field in form %}
        <div>
            <div class="flex justify-between items-center">
                <span class="text-lg opacity-high-emphasis mr-5">{{ field.label_tag }}</span>
                {{ field }}
            </div>
            
            {% for error in field.errors %}
            <p class="text-error">{{ error }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <div class="flex justify-center">
            <button type="submit" class="text-lg rounded mt-5 py-2 px-4 bg-primary hover:bg-primary-hover text-black">Set Password</button>
        </div>
    </div>
{% else %}

<div class="flex justify-center">
    <span class="text-3xl text-error mt-4">Invalid Password Reset Link</span>
</div>
{% endif %}


<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>

{% endblock %}