{% autoescape off %}
Hi {{ user.display_name }}, to reset the password to your Lewdix Account, please click the link below:

{{ protocol }}://{{ domain }}{% url 'search' %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

Best,
The Lewdix Team
{% endautoescape %}