{% extends 'base.html.j2' %} {% load static %} {% block content %}

<div class="flex items-center flex-col">
    <h1 class="text-5xl font-semibold py-4 opacity-high-emphasis">
        Password Reset
    </h1>

    <form method="POST">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" value="Send me instructions!" />
    </form>
</div>
{% endblock %}
