{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

<div class="flex justify-center w-full pt-10">

    <div class="flex flex-col">   
        {% if user.is_authenticated %}
        <p class="opacity-high-emphasis text-4xl">
            Hi {{ user.display_name }}!
        </p>

        <a href="{% url 'logout' %}" class="border-basic border-2 bg-alternate hover:bg-basic rounded text-black px-3 py-2 text-primary opacity-high-emphasis hover:text-black hover:opacity-100 text-lg mr-8">
            Logout
        </a>
        {% else %}
        <p class="opacity-high-emphasis text-4xl">
            You are not logged in
        </p>
        {% endif %}

        <ul class="flex flex-wrap w-4/5 max-w-7xl justify-center" id="cardsHolder">
            {% include "partials/_images_grid.html.j2" with pictures=pictures %}
        </ul>
    </div>

    
</div>

<script type="text/javascript" src="{% static 'js/picture.js' %}"></script>
{% endblock %}