{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

<div class="flex justify-center w-full pt-10">
    <p class="opacity-high-emphasis text-4xl">
        {% if user.is_authenticated %}
        Hi {{ user.display_name }}!
        {% else %}
        You are not logged in
        {% endif %}
    </p>
</div>

<script type="text/javascript" src="{% static 'js/picture.js' %}"></script>
{% endblock %}