{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{# <h1 class="text-5xl font-semibold py-4 opacity-high-emphasis">Login</h1> #}
<div class="flex flex-col items-center">

    {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}


    <form method="post" class="inline-block p-10 mt-10 rounded border-default border-2 shadow-lg w-96">
        {% csrf_token %}       
        {% if form.non_field_errors %}
            <div class='mb-3 text-error'>
                <ul>
                    {% for error in form.non_field_errors %}
                    <li> {{ error| escape }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="flex flex-col items-center">
            <div class="flex flex-col w-56">
                {{ form.display_name.errors }}
                <span class="text-lg opacity-high-emphasis">{{ form.display_name.label_tag }}</span>
                {{ form.display_name }}

                <div class="text-error">
                    <ul>
                        {% for error in form.display_name.errors %}
                        {% if not forloop.first %}
                        <li class="pt-2">{{ error| escape }}</li>
                        {% else %}
                        <li>{{ error| escape }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>

            </div>
            <div class="flex flex-col pt-5 w-56">
                <span class="text-lg opacity-high-emphasis">{{ form.email.label_tag }}</span>
                {{ form.email }}

                <div class="text-error">
                    <ul>
                        {% for error in form.email.errors %}
                        {% if not forloop.first %}
                        <li class="pt-2">{{ error| escape }}</li>
                        {% else %}
                        <li>{{ error| escape }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="flex flex-col pt-5 w-56">
                <span class="text-lg opacity-high-emphasis">{{ form.password1.label_tag }}</span>
                {{ form.password1 }}

                <div class="text-error">
                    <ul>
                        {% for error in form.password1.errors %}
                        {% if not forloop.first %}
                        <li class="pt-2">{{ error| escape }}</li>
                        {% else %}
                        <li>{{ error| escape }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="flex flex-col pt-5 w-56">
                <span class="text-lg opacity-high-emphasis">{{ form.password2.label_tag }}</span>
                {{ form.password2 }}

                <div class="text-error">
                    <ul>
                        {% for error in form.password2.errors %}
                        {% if not forloop.first %}
                        <li class="pt-2">{{ error| escape }}</li>
                        {% else %}
                        <li>{{ error| escape }}</li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <button type="submit" class="text-lg rounded mt-5 py-2 px-4 bg-primary hover:bg-primary-hover text-black">Register</button>
        </div> 
        
    </form>
</div>


<script type="text/javascript" src="{% static 'js/picture.js' %}"></script>
{% endblock %}