{% extends 'base.html.j2' %}

{% load static %}

{% block content %}
<div class="flex justify-center w-full pt-5">
    <div class="flex flex-col w-4/5 max-w-7xl items-center">   
        {% if user.is_authenticated %}
        {% if not user.email_confirmed %}
        <div class="flex justify-center mb-4">
            <span class="text-xl text-error">Your email is not confirmed!</span>
            <button class="flex items-center bg-primary hover:bg-primary-hover text-black px-2 py-1 rounded ml-10" onclick="sendConfirmationEmail(this)">
                <span>Send confirmation email</span>
            </button>
        </div>

        {% csrf_token %}
        {% endif %}

        <p class="opacity-high-emphasis text-3xl sm:text-4xl">
            Settings
        </p>

        <div class="w-3/4 mt-3">
            <div class="flex flex-col sm:flex-row items-center">
                <span class="text-xl sm:text-2xl opacity-high-emphasis sm:w-3/12">Email:</span>
                <div class="sm:w-9/12 flex flex-row-reverse text-xl sm:text-2xl opacity-high-emphasis">{{ user.email }} </div>
            </div>

            <form method="post" class="w-full mt-3">
            {% csrf_token %}       
            {% if form.non_field_errors %}
                <div class='mb-3 text-error'>
                    <ul>
                    {% for error in form.non_field_errors %}
                        <li> {{ error| escape }}</li>
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
                <div class="flex flex-col sm:flex-row justify-center items-center sm:relative">
                    <span class="text-xl sm:text-2xl opacity-high-emphasis sm:w-3/12">{{ form.display_name.label_tag }}</span>
                    <div class="sm:w-9/12 sm:flex sm:flex-row-reverse mt-2 sm:mt-0">{{ form.display_name }} </div>

                    <button type="submit" class="mt-2 sm:mt-0 sm:absolute sm:right-28n sm:text-lg rounded py-2 px-4 bg-primary hover:bg-primary-hover text-black">Update</button>
                </div>
            </form>
        </div>

        <a href="{% url 'password_change' %}" class="bg-basic hover:bg-basic-hover rounded text-black px-3 py-2 text-black opacity-high-emphasis text-lg flex items-center mt-4">
            Change Password
        </a>

        {% else %}
        <p class="opacity-high-emphasis text-4xl">
            Log in to view your settings page
        </p>

        <a href="{% url 'login' %}" class="bg-primary hover:bg-primary-hover rounded text-black px-3 py-2 text-black opacity-high-emphasis text-2xl flex items-center mt-4">
            Login
        </a>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/settings.js' %}"></script>
{% endblock %}