{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

<div class="flex justify-center w-full pt-10">
    <div class="flex flex-col w-4/5 max-w-7xl items-center">   
        {% if user.is_authenticated %}
        <p class="opacity-high-emphasis text-4xl">
            Settings
        </p>
        {% else %}
        <p class="opacity-high-emphasis text-4xl">
            You are not logged in
        </p>
        {% endif %}
    </div>
</div>

<script type="text/javascript" src="{% static 'js/basic.js' %}"></script>
{% endblock %}