{% extends 'base.html.j2' %}

{% load static thumbnail %}

{% block content %}
<div class="flex justify-center z-10">
    <ul class="messages absolute z-10 mt-1" id="messages">
    </ul>
</div>


{% if picture %}
<div class="hidden absolute z-10 min-w-full min-h-double-screen bg-black-op-90 modal flex flex-col" id="modal-image" onclick="hideModalImage()">
    <button class="text-white text-5xl self-end pr-4 pt-2" onclick="hideModalImage()">
        <i class="fas fa-times"></i>
    </button>
    <div class="px-8 pt-1 pb-10 pointer-events-none" id="modal-image-container"></div>
</div>


<div class="flex flex-col md:flex-row justify-center md:justify-start px-8 pt-4 pb-20">
    <div class="md:w-9/12 flex justify-between border-red-300" id="gallery-image-guide-container">
        <div class="flex flex-col items-center w-full">
            <div class="md:flex md:justify-between md:items-center md:w-full">

                <div class="hidden md:inline-block">
                    <!-- old: "border flex flex-col justify-center text-lg bg-gray-300 hover:bg-gray-500 px-6 rounded h-16 mr-1 ml-2 previous-button" -->
                    <button 
                        class="flex flex-col justify-center text-lg px-6 rounded h-16 mr-1 ml-2 previous-button bg-basic hover:bg-basic-hover text-black"
                        onclick="previousPicture()"
                    >
                        <i class="fas fa-chevron-left"></i>
                    </button>

                    <a 
                        {% with first_picture=pictures|first %}
                        href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}{% if favorites %}&favorites=true{% endif %}"
                        {% endwith %}
                        {% if render_previous_button %}
                        class="hidden flex flex-col justify-center text-lg px-6 rounded h-16 mr-1 ml-2 previous-link bg-basic hover:bg-basic-hover text-black"
                        {% else %}
                        class="hidden flex flex-col justify-center text-lg px-6 rounded h-16 mr-1 ml-2 previous-link bg-button-disabled pointer-events-none"
                        {% endif %}                    
                        >
                        {% if render_previous_button %}
                        <i class="fas fa-chevron-left"></i>
                        {% else %}
                        <i class="fas fa-chevron-left opacity-disabled"></i>
                        {% endif %}
                    </a>
                </div>

                <button id="gallery-image-container" class="flex items-center" onclick="showModalImage()">
                </button>


                <div class="hidden md:inline-block">
                    <button 
                        class="flex flex-col justify-center text-lg px-6 rounded h-16 ml-1 mr-2 next-button bg-basic hover:bg-basic-hover text-black"
                        onclick="nextPicture()"
                    >
                        <i class="fas fa-chevron-right"></i>
                    </button>
                
                
                    <a 
                        {% with last_picture=pictures|last %}
                        href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}{% if favorites %}&favorites=true{% endif %}"
                        {% endwith %}
                        {% if render_next_button %}
                        class="hidden flex flex-col justify-center text-lg px-6 rounded h-16 mr-2 ml-1 next-link bg-basic hover:bg-basic-hover text-black"
                        {% else %}
                        class="hidden flex flex-col justify-center text-lg px-6 rounded h-16 mr-2 ml-1 next-link bg-button-disabled pointer-events-none"
                        {% endif %}                    
                        >

                        {% if render_next_button %}
                        <i class="fas fa-chevron-right"></i>
                        {% else %}
                        <i class="fas fa-chevron-right opacity-disabled"></i>
                        {% endif %}
                    </a>
                </div>

                
            </div>

            <div class="block md:hidden w-full max-w-md">
                {% include "partials/_gallery_nav.html.j2" %}
            </div>
            
            <div id="images-info" class="mt-6 md:mt-0 flex flex-col items-center w-full">
                <div class="mb-1 md:mb-0 flex w-full">
                    <div class="w-2/12 flex items-center justify-center text-lg">
                        {% if picture.uploaded_by %}
                        <a 
                            href="{% url 'users' user_public_id=picture.uploaded_by.public_id %}" 
                            class='opacity-medium-emphasis hover:opacity-50'
                            id='uploaded-by-link'
                        >
                            {{ picture.uploaded_by.display_name }}
                        </a>
                        {% else %}
                        <a href="/" id='uploaded-by-link'></a>
                        {% endif %}
                    </div>
                    <div class="flex justify-center w-10/12">
                        <a 
                            href="/"
                            class="text-3xl md:text-5xl font-semibold hover:opacity-50 inline-block"
                            id="image-title-link"
                        >
                            <span class="opacity-high-emphasis" id="image-title"></span>
                        </a>
                    </div>
                    
                    <div class="w-2/12 flex items-center">

                        {% if user.is_authenticated and not picture.favorite %}
                        <button 
                            class="shadow text-black bg-basic hover:bg-basic-hover md:text-lg rounded flex items-center justify-center justify-self-end w-10 h-10"
                            onclick="addFavorite(this)"
                            id="favoriteButton"
                        >
                            <i class="far fa-heart"></i>
                        </button>
                        {% else %}
                        <button 
                            class="shadow text-black bg-basic hover:bg-basic-hover md:text-lg rounded flex items-center justify-center justify-self-end w-10 h-10"
                            onclick="deleteFavorite(this)"
                            id="favoriteButton"
                        >
                            <i class="fas fa-heart text-error"></i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-wrap" id="image-tags">
                </div>
            </div>
        </div>
    </div>
    <div class="md:w-3/12 flex flex-col pt-4" id="gallery-sidebar">
        <div> 
            <div class="flex md:hidden justify-center mb-6">
                <a 
                    href="{% url 'search' %}?q={{ q }}{% if before_id %}&before={{ before_id }}{% endif %}{% if after_id %}&after={{ after_id }}{% endif %}{% if favorites %}&favorites=true{% endif %}
                    class="rounded mx-6 py-2 pl-3 pr-3 bg-basic hover:bg-basic-hover text-black"
                >
                    <i class="fas fa-undo pr-1"></i>
                    Back to Search
                </a>
            </div>

            <div class="hidden md:flex justify-between mx-6">
                <a 
                    {% with first_picture=pictures|first %}
                    href="{% url 'gallery' %}?q={{ current_query }}&before={{ first_picture.public_id }}{% if favorites %}&favorites=true{% endif %}"
                    {% endwith %}

                    {% if render_previous_button %}
                    class="rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic hover:bg-basic-hover text-black"
                    {% else %}
                    class="rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-button-disabled pointer-events-none"
                    {% endif %}

                    title="Previous Page"
                >
                    {% if render_previous_button %}
                    <i class="fas fa-angle-double-left"></i>
                    {% else %}
                    <i class="fas fa-angle-double-left opacity-disabled"></i>
                    {% endif %}
                </a>

                <a 
                    {% with last_picture=pictures|last %}
                    href="{% url 'gallery' %}?q={{ current_query }}&after={{ last_picture.public_id }}{% if favorites %}&favorites=true{% endif %}"
                    {% endwith %}

                    {% if render_next_button %}
                    class="rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-basic hover:bg-basic-hover text-black"
                    {% else %}
                    class="rounded-t h-10 md:h-8 lg:h-10 xl:h-12 text-lg md:text-md lg:text-xl px-5 md:px-2 lg:px-3 xl:px-4 flex items-center justify-center bg-button-disabled pointer-events-none"
                    {% endif %}
                    title="Next Page"
                >
                    {% if render_next_button %}
                    <i class="fas fa-angle-double-right"></i>
                    {% else %}
                    <i class="fas fa-angle-double-right opacity-disabled"></i>
                    {% endif %}
                </a>
            </div>

            <div class="border-2 rounded-b border-default mx-6 pb-5 px-1 flex flex-col items-center">
                <div class="flex flex-row flex-wrap justify-around" id="gallery-next-images">
                    {% for picture in pictures %}
                    <button 
                        class="h-0 pb-1-3 w-under-1-3 rounded overflow-hidden mt-5 next-picture"
                        onclick="setImage({{ forloop.counter0 }}, 'push')"
                    >
                        <img src="media/{{ picture.thumbnail }}" alt="TODO" class="object-cover">
                    </button>
                    {% endfor %}
                    {% for placeholder in grid_placeholders %}
                    <div class="w-under-1-3"></div>
                    {% endfor %}
                </div>
            </div>


            <div class="hidden md:flex justify-center mt-4">
                <a 
                    href="{% url 'search' %}?q={{ q }}{% if before_id %}&before={{ before_id }}{% endif %}{% if after_id %}&after={{ after_id }}{% endif %}{% if favorites %}&favorites=true{% endif %}"
                    class="rounded mx-6 py-2 pl-3 pr-3 lg:text-xl flex bg-basic hover:bg-basic-hover text-black"
                >
                    <div class="hidden lg:inline-block">
                        <i class="hidden fas fa-undo pr-2"></i>
                    </div>
                    
                    Back to Search
                </a>
            </div>
            
        </div>
    </div>
</div>
{% csrf_token %}

{% endif %}

{{ pictures|json_script:"pictures"}}
{{ original_picture_index|json_script:"original-picture-index"}}
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>

{% endblock %}