{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if picture %}

<div class="flex flex-row justify-center md:justify-start px-8 md:px-16 pt-4">
    <div class="md:w-4/6 max-h-screen flex flex-col" id="gallery-image-container">
        <div class="flex md:hidden justify-between" id="gallery-next-prev">
            <button class="bg-gray-300 hover:bg-gray-500 rounded-t py-2 pl-4 pr-3">
                Previous
            </button>
            <button class="bg-gray-300 hover:bg-gray-500 rounded-t py-2 pl-4 pr-3">
                Next
            </button>
        </div>
        <img class="max-h-full object-contain" src="{{ picture.photo }}" alt="">
    </div>
    <div class="w-2/6 hidden md:flex flex-col" id="gallery-sidebar">
        <div class="flex-grow">
        </div>
        <div class="flex-grow-3"> 
            <div class="mx-6 flex justify-between" id="gallery-next-prev">
                <button class="bg-gray-300 hover:bg-gray-500 rounded-t py-2 pl-4 pr-3">
                    Previous
                </button>
                <button class="bg-gray-300 hover:bg-gray-500 rounded-t py-2 pl-4 pr-3">
                    Next
                </button>
            </div>
            <div class="border-2 rounded-b border-gray-300 mx-6 pb-5 px-1 flex flex-row flex-wrap justify-around" id="gallery-next-images">
            </div>
        </div>
    </div>
</div>

{% endif %}
<script type="text/javascript">
    let allPicturesOutside = {{ all_pictures| safe }};
    let originalPictureIndexOutside = {{ original_picture_index }};
</script>
<script type="text/javascript" src="{% static 'js/gallery.js' %}"></script>

{% endblock %}