{% extends 'base.html.j2' %}

{% load static %}

{% block content %}

{% if picture %}

<div class="flex flex-row justify-around px-16 pt-4 border border-blue-300">
    <div class="w-4/5 max-h-screen flex justify-center border border-green-300" id="gallery-image-container">
        <img class="max-h-full" src="{{ picture.photo }}" alt="">
    </div>
    <div class="border border-red-300 w-1/5" id="gallery-sidebar">
    </div>
</div>

{% else %}
{% endif %}

{% endblock %}