{% extends 'base.html.j2' %}

{% load static %}

{% block content %}
<div class="flex items-center flex-col">
  <h1 class="text-5xl font-semibold py-4 opacity-high-emphasis">Latest Uploads</h1>

  <ul class="flex flex-wrap w-4/5 max-w-7xl justify-center" id="cardsHolder">
  {% include "partials/_images_grid.html.j2" with pictures=pictures %}
  </ul>


  <div class="flex justify-center w-4/5 max-w-7xl mt-3 text-lg mb-20">
    {% if more_left and pictures|length > 0 %}
    {% with last_picture=pictures|last %}
    <a href="{% url 'search' %}?after={{ last_picture.public_id }}" class="rounded shadow py-2 pl-3 pr-4 bg-basic hover:bg-basic-hover text-black">
      Continue Browsing
      <i class="fas fa-arrow-right pl-2"></i>
    </a>
    {% endwith %}
    {% endif %}
  </div>
</div>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock %}
