{% extends 'base.html.j2' %}

{% load static %}

{% block content %}
    <div class="search-page flex justify-center mt-5">
        <div class="search-sidebar w-1/5 max-w-xl mx-3">
            <div class="tags-bar border border-gray-300 rounded px-8 flex flex-col py-3 shadow">
                <div class="border border-gray-300 my-2 flex justify-between w-4/5 pl-2">
                    <input type="text" class="appearance-none w-4/5" placeholder="Add Tags...">
                    
                    <button class="bg-gray-300 hover:bg-gray-400 px-3 py-2" >
                        <i class="fas fa-plus"></i>
                    </button>
                </div>
                
                <h1 class="text-2xl font-semibold pb-3 pt-1">
                    Searched Tags
                </h1>

                {% if searchedTags %}
                    <div class="flex flex-row flex-wrap w-4/5">
                    {% for tag in searchedTags %}
                        <div class="tag bg-gray-300 rounded py-1 px-2 text-xs mr-2 font-medium mb-2 text-gray-600">
                            <a href="/">
                                <i class="fas fa-times pr-1 hover:text-black"></i>
                            </a>
                            {{ tag }}
                        </div>
                        <!--<a href="/" class="tag bg-gray-300 hover:bg-gray-400 rounded py-1 px-2 text-xs mr-2 font-medium mb-2 text-gray-600 hover:text-black">
                            {{ tag }}
                        </a>-->
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="return-to-first-page-button">
            </div>
        </div>
        
        <div class="w-4/5 max-w-7xl mx-3 flex flex-wrap justify-center">
            {% include "partials/_images_grid.html.j2" with pictures=pictures %}
        </div>
        
    </div>

    <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
{% endblock %}